a {
  width: 220px;
  height: 50px;
  display: inline-block;
  text-decoration: none;
}

p {
  text-align: center;
  font-weight: 600;
}

.my-button {
  width: 200px;
  height: 50px;
  transition: all 0.2s ease-in;
  border: 1px rgb(77, 141, 193) solid;
  color: rgb(255, 255, 255);
}

.my-button:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 25px -5px rgb(77, 141, 193);
  border: 1px rgb(106, 188, 255) solid;
  color: rgb(103, 187, 255);
}

.btn-div {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
