.container {
  padding: 20px;
  border-radius: 5px;
}

.hangman-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-left: 5px solid white;
}

.head-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.head {
  border: 5px solid white;
  position: relative;
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.body {
  height: 120px;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.torso {
  height: 100%;
  border-right: 5px solid white;
}

.handL,
.handR {
  border-bottom: 5px solid white;
  width: 80px;
}

.handL {
  position: relative;
  left: 5px;
  transform: rotate(20deg);
}

.handR {
  position: relative;
  left: -5px;

  transform: rotate(-20deg);
}

.legs {
  display: flex;
  flex-direction: row;
  height: 120px;
}

.legL,
.legR {
  border-right: 5px solid white;
  height: 100%;
}

.legL {
  position: relative;
  transform: rotate(20deg);
  left: -18px;
  top: -6px;
}

.legR {
  position: relative;
  transform: rotate(-20deg);
  left: 18px;
  top: -6px;
}

.gallow {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.plank {
  width: 50%;
  height: 25px;
  border-top: 5px solid white;
  border-right: 5px solid white;
}
